
NODE_ENV=development
PORT=3000

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,null


USE_MOCK=true


TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_APP_ACCESS_TOKEN=
TWITCH_WEBHOOK_SECRET=
PUBLIC_EVENTSUB_CALLBACK=